<%- include('../compartido/estilos-generales/estilos-generales-component') %>

<div class="col-md-3 mt-4">
    <ul class="nav flex-column md-pills nav-justified pills-border-right-radius pills-purple-count" aria-orientation="vertical">
        <li class="nav-item">
            <a class="nav-link text-left" href="/perfil">
                <i class="fas fa-user-circle mr-4"></i>Información Personal
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-left" href="/alquiler">
                <i class="fas fa-book mr-4"></i>Ver Alquileres
            </a>
        </li>
    </ul>
</div>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>