<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<%- include('../compartido/menu/menu-component') %>

<!-- Main navigation -->
<!--Main Layout-->
<div
        style="background-image: url(/resources/Portada.svg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-md-center">
                    <br><br><br><br>
                    <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                        ¡Autos a los mejores precio en Quito!</h1>
                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s"
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                    <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s"
                        style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">Encuentra las mejores
                        tarifas, desde $30</h6>
                    <a class="btn btn-outline-white wow fadeInLeft waves-effect waves-light" data-wow-delay="0.3s"
                       style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;" routerLink="/catalogo">Ver
                        Catálogo</a>
                </div>
                <div class="col-md-6 col-xl-5 mb-4">
                    <br><br>
                    <div class="card wow fadeInRight" data-wow-delay="0.3s"
                         style="visibility: visible; animation-name: fadeInRight; animation-delay: 5s;">
                        <div class="card-body">
                            <div class="text-center">
                                <h3 class="white-text font-weight-bold" style="font-size: 1rem;">Alquiler de Autos en Quito</h3>
                                <hr class="hr-light">
                            </div>
                            <div class="md-form">
                                <i class="fas fa-map-marker-alt prefix white-text"></i>
                                <input type="text" id="form1" class="white-text form-control">
                                <label for="form1">Lugar de recogida del auto</label>
                            </div>
                            <div class="md-form">
                                <i class="fas fa-map-marker-alt prefix white-text"></i>
                                <input type="text" id="form2" class="white-text form-control">
                                <label for="form2">Lugar de entrega del auto</label>
                            </div>
                            <div class="md-form">
                                <i class="fas fa-calendar-alt prefix white-text"></i>
                                <input type="text" id="form3" class="white-text form-control" data-provide="datepicker">
                                <label for="form3">Fecha de Recogida</label>
                            </div>
                            <div class="md-form">
                                <i class="fas fa-calendar-alt prefix white-text"></i>
                                <input type="text" id="form4" class="white-text form-control" data-provide="datepicker">
                                <label for="form4">Fecha de Entrega</label>
                            </div>
                            <div class="text-center mt-4">
                                <button class="btn  waves-effect waves-light btn-rounded" style="background-color: #52489C;">Buscar
                                    Auto
                                </button>
                                <hr class="hr-light mb-3 mt-4">
                                <div class="inline-ul text-center d-flex justify-content-center">
                                    <a class="p-2 m-2 tw-ic">
                                        <i class="fab fa-twitter white-text"></i>
                                    </a>
                                    <a class="p-2 m-2 li-ic">
                                        <i class="fab fa-facebook white-text"> </i>
                                    </a>
                                    <a class="p-2 m-2 ins-ic">
                                        <i class="fab fa-instagram white-text"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    lore10What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    Why do we use it?
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web
    page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
    sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
    purpose (injected humour and the like).


    Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
    literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
    in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
    the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
    1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
    This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
    "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and
    1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied
    by English versions from the 1914 translation by H. Rackham.

    Where can I get some?
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
    form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a
    passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the
    Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
    generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence
    structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
    repetition, injected humour, or non-characteristic words etc.
</div>
<%- include('../compartido/footer/footer-component') %>





<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>