<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<%- include('../compartido/menu/menu-component') %>
<div class="container-fluid mt-lg-5">
    <div id="map" class="map-container"></div>
</div>

<%- include('../compartido/footer/footer-component') %>
<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>