<%- include('../../compartido/estilos-generales/estilos-generales-component')%>



      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light active" href="/inicio" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light active" href="/catalogo" >Cátalogo de
            Autos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light active" href="/agencias" >Red de
            Agencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light active" href="/ofertas" >Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light active" href="/nosotros" >Sobre
            Nosotros</a>
        </li>
      </ul>

<%- include('../../compartido/funcionalidad-general/funcionalidad-general-component')%>
