<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<%- include('../compartido/menu/menu-component') %>
<main>
<div class="container marketing mt-lg-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Misión</h2>
            <p class="lead" align="justify">"Garantizaremos una experiencia de alquiler libre de complicaciones,
                ya que proporcionaremos servicios superiores que satisfagan las necesidades
                individuales de nuestros clientes además de que siempre aplicaremos nuestro lema “Nos esforzamos
                más” con sabiduría, dedicación y pasión por la excelencia."</p>
        </div>
        <div class="col-md-5">
            <img src="/resources/nosotros1.jpg" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Visión</h2>
            <p class="lead" align="justify">"Ser lideres en el mercado de renta y servicio de autos.
                Dirigir a nuestra industria al defender la excelencia del servicio
                y forjando una lealtad incomparable de parte de los clientes." </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/resources/nosotros2.jpg" class="img-fluid" style="height: 300px; width: 500px;">
        </div>
    </div>
</div>
    <br>
</main>
<%- include('../compartido/footer/footer-component') %>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>